{% extends "template-default.njk" %}

{% block content %}

    <main role="main">
      <section>
        <h1 id="forms">Forms</h1>
        <article>
          <h2>Inline</h2>
          <p><code>p>(label+input)</code></p>
          <form>
            <p>
              <label for="inline-input-text">Text field</label>
              <input id="inline-input-text" type="text" placeholder="Text field">
              <label for="inline-input-email">Email field</label>
              <input id="inline-input-email" type="text" placeholder="Email field">
              <button type="submit">Button Submit</button>
            </p>
          </form>
          <h2>Block</h2>
          <p><code>p>(label+input+label)</code></p>
          <form>
            <p>
              <label for="default-input-text">Text field</label>
              <br/>
              <input id="default-input-text" type="text" placeholder="Enter your text">
              <br/>
              <label for="default-input-text">Help text</label>
            </p>
            <p>
              <label for="default-input-email">Email field</label>
              <br/>
              <input id="default-input-email" type="email" placeholder="Enter your email">
              <br/>
              <label for="default-input-email">Help text</label>
            </p>
            <p>
              <button type="submit">Button Submit</button>
            </p>
          </form>
          <h2>Fieldsets</h2>
          <p><code>fieldset>p>(label+input+label)</code></p>
          <form>
            <fieldset id="form-inputs">
              <legend>Input fields</legend>
              <p>
                <label for="justified-input-text">Text</label>
                <br/>
                <input id="justified-input-text" type="text" placeholder="Enter your text">
                <br/>
                <label for="justified-input-text">Help text</label>
              </p>
              <p>
                <label for="justified-input-password">Password</label>
                <br/>
                <input id="justified-input-password" type="password" placeholder="Enter your password">
                <br/>
                <label for="justified-input-password">Help text</label>
              </p>
              <p>
                <label for="justified-input-url">URL</label>
                <br/>
                <input id="justified-input-url" type="url" placeholder="http://website.com">
                <br/>
                <label for="justified-input-url">Help text</label>
              </p>
              <p>
                <label for="justified-input-email">Email</label>
                <br/>
                <input id="justified-input-email" type="email" placeholder="name@email.com">
                <br/>
                <label for="justified-input-email">Help text</label>
              </p>
              <p>
                <label for="justified-input-tel">Telephone</label>
                <br/>
                <input id="justified-input-tel" type="tel" placeholder="(999) 999-9999">
                <br/>
                <label for="justified-input-tel">Help text</label>
              </p>
              <p>
                <label for="justified-input-search">Search</label>
                <br/>
                <input id="justified-input-search" type="search" placeholder="Enter search term">
                <br/>
                <label for="justified-input-search">Help text</label>
              </p>
              <p>
                <label for="justified-input-number">Number</label>
                <br/>
                <input id="justified-input-number" type="number" placeholder="Enter a number">
                <br/>
                <label for="justified-input-number">Help text</label>
              </p>
            </fieldset>
            <fieldset id="form-html5-inputs">
              <legend>HTML5 inputs</legend>
              <p>
                <label for="input-color">Color</label>
                <br/>
                <input type="color" id="input-color" value="#0269c2">
              </p>
              <p>
                <label for="input-range">Range</label>
                <br/>
                <input type="range" id="input-range" value="10">
              </p>
              <p>
                <label for="input-date">Date</label>
                <br/>
                <input type="date" id="input-date" value="1970-01-01">
              </p>
              <p>
                <label for="input-time">Time</label>
                <br/>
                <input type="time" id="input-time" value="23:59:59">
              </p>
              <p>
                <label for="input-month">Month</label>
                <br/>
                <input type="month" id="input-month" value="1970-01">
              </p>
              <p>
                <label for="input-week">Week</label>
                <br/>
                <input type="week" id="input-week" value="1970-W01">
              </p>
              <p>
                <label for="input-datetime">Datetime</label>
                <br/>
                <input type="datetime" id="input-datetime" value="1970-01-01T00:00:00Z">
              </p>
              <p>
                <label for="input-dt-local">Datetime-local</label>
                <br/>
                <input type="datetime-local" id="input-dt-local" value="1970-01-01T00:00">
              </p>
              <p>
                <label for="input-file">File</label>
                <br/>
                <input id="input-file" type="file">
              </p>
            </fieldset>
            <fieldset id="form-textarea">
              <legend>Textarea</legend>
              <p>
                <label for="textarea">Textarea</label>
                <br>
                <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
                <button>Button Submit</button>
              </p>
            </fieldset>
            <fieldset id="form-select">
              <legend>Select</legend>
              <p>
                <label for="select">Select</label>
                <br>
                <select id="select">
                  <optgroup label="Option Group">
                    <option>Option One</option>
                    <option>Option Two</option>
                    <option>Option Three</option>
                  </optgroup>
                </select>
                <br>
                <label for="select">Help text</label>
              </p>
            </fieldset>
            <fieldset id="form-select-multiple">
              <legend>Select multiple</legend>
              <p>
                <label for="select-multiple">Select</label>
                <br>
                <select multiple id="select-multiple">
                  <optgroup label="Option Group">
                    <option>Select multiple option one</option>
                    <option>Select multiple option two</option>
                    <option>Select multiple option three</option>
                    <option>Select multiple option four</option>
                    <option>Select multiple option five</option>
                    <option>Select multiple option six</option>
                    <option>Select multiple option seven</option>
                    <option>Select multiple option eight</option>
                  </optgroup>
                </select>
                <br>
                <label for="select-multiple">Help text</label>
              </p>
            </fieldset>
            <fieldset id="form-checkboxs">
              <legend>Checkboxes</legend>
              <label for="checkbox1"><input id="checkbox1" name="group-checkbox" type="checkbox" checked="checked"> A choice is an act of selecting a decision when faced with two or more possibilities</label><br/>
              <label for="checkbox2"><input id="checkbox2" name="group-checkbox" type="checkbox"> A choice is an act of selecting a decision when faced with two or more possibilities</label><br/>
              <label for="checkbox3"><input id="checkbox3" name="group-checkbox" type="checkbox"> A choice is an act of selecting a decision when faced with two or more possibilities</label><br/>
            </fieldset>
            <fieldset id="form-radios">
              <legend>Radio buttons</legend>
              <label for="radio1"><input id="radio1" name="group-radio" type="radio" checked="checked"> An option is a thing that is or may be chosen</label><br/>
              <label for="radio2"><input id="radio2" name="group-radio" type="radio"> An option is a thing that is or may be chosen</label><br/>
              <label for="radio3"><input id="radio3" name="group-radio" type="radio"> An option is a thing that is or may be chosen</label><br/>
            </fieldset>
            <fieldset id="form-buttons">
              <legend>Buttons</legend>
              <p>
                <input type="submit" value="Input (submit)">
                <input type="button" value="Input (button)">
                <input type="reset" value="Input (reset)">
                <input type="submit" value="Input (disabled)" disabled>
              </p>
              <p>
                <button type="submit">Button (submit)</button>
                <button type="button">Button (button)</button>
                <button type="reset">Button (reset)</button>
                <button type="submit" disabled>Button (disabled)</button>
              </p>
              <p>
                <a href="#!"><button type="button">Link > Button</button></a>
                <a href="#!" class="button">Link as Button</a>
              </p>
            </fieldset>
          </form>
        </article>
      </section>
    </main>

{% endblock %}
