{% extends "base.njk" %}

{% block content %}

    <main role="main">
      <article>
        <section>
          <p><b>{{ package.description }}</b></p>
          <p>This library provides basic styles for default HTML elements, this is specially useful for statically generated pages, like <em>markdown-to-html</em>, documentation pages, or any basic HTML document.</p>
          <p>This library <strong>IS NOT</strong> intended to replace the use of CSS classes but to provide a presentable layer of default elements before further styling. <strong>Use where appropriate</strong>.</p>
        </section>
        <section>
          <h2>Installation</h2>
<p>CDN Development (redirect to latest):</p>
<pre><code>https://unpkg.com/{{ package.name }}/dist/{{ package.name }}.min.css</code></pre>
<p>CDN Production (specific release):</p>
<pre><code>https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{{ package.name }}.min.css</code></pre>
<p>NPM package:</p>
<pre><code>$ npm install --save-dev {{ package.name }}</code></pre>
<p>CSS import:</p>
<pre><code>@import url(&quot;https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{{ package.name }}.min.css&quot;);</code></pre>
        </section>
      </article>

    </main><!-- role main -->

{% endblock %}
