{% extends "template-default.njk" %}

{% block content %}

  <main role="main">
    <section>
      <p><b>{{ package.description }}</b></p>
      <figure><img src="./screenshot.png" alt="screen shot"></figure>
    </section>
    <section>
      <h2>Abstract</h2>
      <p>{{ package.abstract | safe }}</p>
    </section>
    <section>
      <h2>Installation</h2>
      <p>CDN Development (redirect to latest):</p>
      <pre><code>&lt;link rel="stylesheet" href="https://unpkg.com/{{ package.name }}@latest/dist/{{ package.keyword }}.min.css"/&gt;</code></pre>
      <p>CDN Production (specific release):</p>
      <pre><code>&lt;link rel="stylesheet" href="https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{{ package.keyword }}.min.css"/&gt;</code></pre>
      <p>NPM package:</p>
      <pre><code>$ npm install --save-dev {{ package.name }}</code></pre>
      <p>CSS import:</p>
      <pre><code>@import url(&quot;https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{{ package.keyword }}.min.css&quot;);</code></pre>
    </section>
  </main><!-- role main -->

{% endblock %}
