{% extends "template-default.njk" %}

{% block content %}

  <main role="main">
    <section>
      <h1 id="media">Media (embedded content)</h1>
      <article>
        <h2 id="image">Image</h2>
        <p><code>img</code></p>
        <p><img src="https://unsplash.it/550/350/?image=961" alt="Image"></p>
        <h3>Figure</h3>
        <p><code>figure>(img+figcaption)</code></p>
        <figure>
          <img src="https://unsplash.it/550/350/?image=961" alt="Image">
          <figcaption>Here is a caption for this image.</figcaption>
        </figure>
      </article>
      <article>
        <h2 id="audio">Audio</h2>
        <p><code>audio</code></p>
        <audio controls>
          <source src="coffeehouse.mp3" type="audio/mpeg">
          <source src="coffeehouse.ogg" type="audio/ogg">
        </audio>
        <br><br>
      </article>
      <article>
        <h2 id="video">Video</h2>
        <p><code>video</code></p>
        <video width="480" height="270" controls poster="chromecast.jpg">
          <source src="chromecast.webm" type="video/webm">
          <source src="chromecast.mp4" type="video/mp4">
          Your browser does not support the <code>video</code> element.
        </video>
        <br><br>
      </article>
      <article>
        <h2 id="iframe">iframe</h2>
        <p><code>iframe</code></p>
        <iframe width="550" height="350" src="https://www.youtube.com/embed/zxT0wknZxic"></iframe>
      </article>
      <article>
        <h2 id="aspect-ratio">Aspect ratio</h2>
        <p><code>figure[style="--aspect-ratio:16/9"] > iframe</code></p>
        <figure style="--aspect-ratio:16/9;">
          <iframe src="https://www.youtube.com/embed/zxT0wknZxic"></iframe>
        </figure>
      </article>
      <article>
        <h2 id="embed">Embed</h2>
        <p><code>embed</code></p>
        <embed width="550" height="350" src="https://www.youtube.com/embed/zxT0wknZxic">
        <h2 id="object">Object</h2>
        <p><code>object</code></p>
        <object width="550" height="350" data="https://www.youtube.com/embed/zxT0wknZxic"></object>
      </article>
      <article>
        <h2 id="canvas">Canvas</h2>
        <p><code>canvas</code></p>
        <canvas id="canvasDemo" width="550" height="350">canvas</canvas>
        <script>
          var canvas = document.getElementById('canvasDemo');
          if (canvas.getContext) {
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = 'rgb(230, 230, 250)';
            ctx.fillRect(0, 0, 550, 350);
            ctx.fillStyle = 'rgb(200, 0, 0)';
            ctx.fillRect(20, 20, 150, 150);
            ctx.fillStyle = 'rgba(0, 0, 200, 0.5)';
            ctx.fillRect(50, 50, 150, 150);
          }
        </script>
        <h2 id="svg">Inline SVG</h2>
        <p><code>svg</code></p>
        <svg width="550" height="350" viewBox="0 0 550 350" preserveAspectRatio="xMinYMin">
          <rect x="0" y="0" width="550" height="350" fill= "rgb(230, 230, 250)"/>
          <circle cx="95" cy="95" r="75" fill="rgb(200, 0, 0)"></circle>
          <circle cx="115" cy="115" r="75" fill="rgba(0, 0, 200, 0.5)"></circle>
        </svg>
      </article>
      <article>
        <h2 id="meter">Meter</h2>
        <p><code>meter["value"]</code></p>
        <meter value="75" min="0" max="100">2 out of 10</meter>
      </article>
      <article>
        <h2 id="progress">Progress</h2>
        <p><code>progress["value"]</code></p>
        <progress value="75" max="100">Progress</progress>
        <p></p>
      </article>
    </section>
  </main>

{% endblock %}
