{% extends "template-default.njk" %}

{% block content %}

	<ui-playground>
		<form>
			<fieldset style="border-color: var(--color-primary)">
				<legend style="color: var(--color-primary)">Registration Form</legend>
				<p>
					<label for="input-username">Username</label>
					<input id="input-username" type="text" autocomplete="on" placeholder="Username">
					<select>
						<option value="abc">qwertyuiop</option>
						<option value="bcd">asdfghjkl</option>
						<option value="cde">zxcvbnm</option>
					</select>
					<button>Button</button>
					<span style="color: var(--color-primary); background: var(--color-primary-light); font-size: 0.6em; border-radius: 20px; padding: 0.3em; border: 1px solid var(--color-primary);">Required</span>
				</p>
				<p>
					<label for="input-password">Password</label>
					<input id="input-password" type="password" autocomplete="current-password" placeholder="Password">
					<span style="color: var(--color-primary); background: var(--color-primary-light); font-size: 0.6em; border-radius: 20px; padding: 0.3em; border: 1px solid var(--color-primary);">Required</span>
				</p>
				<p>
					<label for="input-url">URL</label>
					<input id="input-url" type="url" placeholder="http://website.com">
					<span style="color: var(--color-primary); background: var(--color-primary-light); font-size: 0.6em; border-radius: 20px; padding: 0.3em; border: 1px solid var(--color-primary);">Required</span>
				</p>
				<p>
					<label for="input-email">Email</label>
					<input id="input-email" type="email" autocomplete="email" placeholder="Email">
					<span style="color: var(--color-primary); background: var(--color-primary-light); font-size: 0.6em; border-radius: 20px; padding: 0.3em; border: 1px solid var(--color-primary);">Required</span>
				</p>
				<p>
					<button type="submit" style="background-color: var(--color-primary)">
							Submit
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M12 8l4 4-4 4M8 12h7"/></svg>
					</button>
				</p>
			</fieldset>
		</form>
	</ui-playground>

	<ui-playground>
		<section>
			<h1>Typography</h1>
			<h2>Typography</h2>
			<h3>Typography</h3>
			<h4>Typography</h4>
			<h5>Typography</h5>
		</section>
	</ui-playground>

	<ui-playground>
		<h2>Default colors</h2>
		<div class="flex">
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-default</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-default)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-muted</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-muted)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-inverse</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-inverse)">
					<div>&nbsp;</div>
				</div>
			</div>

			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-blue</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1 border-dashed border-1" style="background-color: var(--color-blue)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-blue-light</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-blue-light)">
					<div>&nbsp;</div>
				</div>
			</div>

			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-green</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1 border-dashed border-1" style="background-color: var(--color-green)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-green-light</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-green-light)">
					<div>&nbsp;</div>
				</div>
			</div>

			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-yellow</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-yellow)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-yellow-light</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-yellow-light)">
					<div>&nbsp;</div>
				</div>
			</div>

			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-red</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-red)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-red-light</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-red-light)">
					<div>&nbsp;</div>
				</div>
			</div>
		</div><!--/flexbox-->

		<h2>Branded</h2>
		<p>Only brand primary is included by default, others can be added manually.</p>
		<div class="flex">
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-primary</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-primary)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--color-primary-light</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--color-primary-light)">
					<div>&nbsp;</div>
				</div>
			</div>
		</div><!--/flexbox-->

		<h2>Components</h2>
		<div class="flex">
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--background-color-default</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--background-color-default)">
					<div>&nbsp;</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--background-color-highlight</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--background-color-highlight)">
					<div>&nbsp;</div>
				</div>
			</div>

			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--border-color-default</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--border-color-default)">
					<div>&nbsp;</div>
				</div>
			</div>

			<div class="width-12 width-6-md">
				<div class="padding-1">
					<div>--input-background-color</div>
				</div>
			</div>
			<div class="width-12 width-6-md">
				<div class="padding-1" style="background-color: var(--input-background-color)">
					<div>&nbsp;</div>
				</div>
			</div>
		</div><!--/flexbox-->
	</ui-playground>

	<ui-playground>
		<section>
			<h2>Buttons</h2>
			<style>
				html {
					--color-secondary: var(--color-red);
					--color-tertiary: var(--color-green);
					--color-quaternary: var(--color-yellow);
					--color-complementary: blueviolet;
				}
			</style>
			<p>
				<code>[style]</code>
			</p>
			<p>
				<button>button (no style)</button>
				<button style="background-color: var(--color-primary); color: #fff;">button</button>
				<button style="background-color: var(--color-secondary); color: #fff;">button</button>
				<button style="background-color: var(--color-tertiary); color: #fff;">button</button>
				<button style="background-color: var(--color-quaternary); color: #000;">button</button>
				<button style="background-color: var(--color-complementary); color: #fff;">button</button>
				<button class="bg-transparent color-inherit box-shadow">trasparent</button>
			</p>
			<p class="bg-black padding-1">
				<button>button (no style)</button>
				<button style="background-color: var(--color-primary); color: #fff;">button</button>
				<button style="background-color: var(--color-secondary); color: #fff;">button</button>
				<button style="background-color: var(--color-tertiary); color: #fff;">button</button>
				<button style="background-color: var(--color-quaternary); color: #000;">button</button>
				<button style="background-color: var(--color-complementary); color: #fff;">button</button>
				<button class="bg-transparent color-white box-shadow">trasparent</button>
			</p>
			<p>
				<code>[class]</code>
			</p>
			<p>
				<button>button (no class)</button>
				<button class="bg-primary color-white">button</button>
				<button class="bg-secondary color-white">button</button>
				<button class="bg-tertiary color-white">button</button>
				<button class="bg-quaternary color-black">button</button>
				<button class="bg-complementary color-white">button</button>
				<button class="bg-transparent color-inherit box-shadow">trasparent</button>
			</p>
			<p class="bg-black padding-1">
				<button>button (no class)</button>
				<button class="bg-primary color-white">button</button>
				<button class="bg-secondary color-white">button</button>
				<button class="bg-tertiary color-white">button</button>
				<button class="bg-quaternary color-black">button</button>
				<button class="bg-complementary color-white">button</button>
				<button class="bg-transparent color-white box-shadow">trasparent</button>
			</p>
		</section>
	</ui-playground>

	<ui-playground>
		<section>
			<h2>Background</h2>
			<div class="padding-1 border-radius margin-bottom-1" style="background: var(--color-red-light); border: 2px solid var(--color-red);">
				Lorem ipsum <a href="#!">dolor sit amet</a>, consectetur adipisicing elit. Tempore, ipsum sequi quasi deleniti sed itaque? Amet architecto fugiat ratione voluptas laboriosam molestiae.
				<span style="color:var(--color-muted)">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam sunt, iure vero possimus commodi quam eius amet.</span>
			</div>
			<div class="padding-1 border-radius margin-bottom-1" style="background: var(--color-green-light); border: 2px solid var(--color-green);">
				Lorem ipsum <a href="#!">dolor sit amet</a>, consectetur adipisicing elit. Tempore, ipsum sequi quasi deleniti sed itaque? Amet architecto fugiat ratione voluptas laboriosam molestiae.
				<span style="color:var(--color-muted)">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellat amet nam sed fuga adipisci laboriosam commodi.</span>
			</div>
			<div class="padding-1 border-radius margin-bottom-1" style="background: var(--color-yellow-light); border: 2px solid var(--color-yellow);">
				Lorem ipsum <a href="#!">dolor sit amet</a>, consectetur adipisicing elit. Tempore, ipsum sequi quasi deleniti sed itaque? Amet architecto fugiat ratione voluptas laboriosam molestiae.
				<span style="color:var(--color-muted)">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim repellat quo soluta eveniet, harum rerum, accusamus.</span>
			</div>
			<div class="padding-1 border-radius margin-bottom-1" style="background: var(--color-primary-light); border: 2px solid var(--color-primary);">
				Lorem ipsum <a href="#!">dolor sit amet</a>, consectetur adipisicing elit. Tempore, ipsum sequi quasi deleniti sed itaque? Amet architecto fugiat ratione voluptas laboriosam molestiae.
				<span style="color:var(--color-muted)">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum maxime laboriosam inventore quidem quibusdam iste commodi nobis tempora.</span>
			</div>
			<div class="padding-1 border-radius margin-bottom-1" style="background: var(--background-color-highlight); border: 2px solid var(--border-color-default);">
				Lorem ipsum <a href="#!">dolor sit amet</a>, consectetur adipisicing elit. Tempore, ipsum sequi quasi deleniti sed itaque? Amet architecto fugiat ratione voluptas laboriosam molestiae.
				<span style="color:var(--color-muted)">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis hic vero officiis quas, reiciendis id illum est!</span>
			</div>
			<div class="container">
				<div class="flex">
					<div class="width-4">
						<div id="popupItem1" data-component="popup" class="small padding-1.5 border-1 border-radius box-shadow margin-bottom-1 bg-default" style="transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s; position: relative;">
							<p class="margin-bottom-0.5">
								<strong>🤖 Privacy Policy</strong>
							</p>
							<p>We use cookies to improve your experience. Find out more in our <a href="https://heyallan.com/kiii/privacy">privacy</a> page and <a href="https://heyallan.com/kiii/en/docs/popups">documentation</a> page.</p>
							<button type="button" data-action="dismiss">Dismiss</button>
							<button type="button" data-action="decline">Decline</button>
							<button type="button" data-action="dismiss">Dismiss</button>
						</div>
					</div>
					<div class="width-4">
						<div id="popupItem1" data-component="popup" class="small padding-1.5 border-1 border-radius box-shadow margin-bottom-1 bg-highlight" style="transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s; position: relative;">
							<p class="margin-bottom-0.5">
								<strong>🤖 Privacy Policy</strong>
							</p>
							<p>We use cookies to improve your experience. Find out more in our <a href="https://heyallan.com/kiii/privacy">privacy</a> page and <a href="https://heyallan.com/kiii/en/docs/popups">documentation</a> page.</p>
							<button type="button" data-action="dismiss">Dismiss</button>
							<button type="button" data-action="decline">Decline</button>
							<button type="button" data-action="dismiss">Dismiss</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</ui-playground>

{% endblock %}