# {{ package.name }}

![License][LicenseBadgeURL]
[![Donate][DonateBadgeURL]][DonateURL]

> {{ package.description }}

## Documentation

Docs and demo: <{{ package.homepage }}>

## Contribute

Be my guest:

- 😱 Open issue, describe bug, suggest solution
- 😊 Fork, clone, edit, push, send pull request

## MIT License

The MIT License is a permissive license. It lets you do anything you want with the code as long as you provide attribution back to the author and don’t hold him/her liable. jQuery, .NET Core, and Rails use the MIT License.

[LicenseBadgeURL]: https://img.shields.io/badge/License-MIT-blue.svg
[DonateBadgeURL]: https://img.shields.io/badge/Support_Active-Development-blue.svg
[DonateURL]: https://www.paypal.me/heyallan/10
