<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <script type="text/javascript">
      document.write('<base href="' + ((window.location.hostname == '127.0.0.1') ? '/' : window.location.hostname + "/{{ package.name }}/") + '">');
    </script>
    <meta charset="utf-8">
    <title>{{ package.name }} - {{ package.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/{{ package.name }}.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/hyper-auto-layout/dist/hyper-auto-layout.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/hyper-properties/dist/hyper-properties.min.css"/>
  </head>
  <body>

    {% include "header.njk" %}

    {% block content %}
      {# content will be injected here #}
    {% endblock %}

    {% include "footer.njk" %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.min.js"></script>
    <script type="text/javascript">
      anchors.options = {placement:'left', icon: '#'};
      anchors.add('h1[id],h2[id],h3[id]');
    </script>
    <style>.anchorjs-link:hover{border:0;text-decoration:none;}</style>

  </body>
</html>
