<hr>
<footer>
  <center>
    This library is part of
    <nav>
      <a href="https://www.github.com/heyallan/hyper-reset">@hyper-reset</a>
      ·
      <a href="https://www.github.com/heyallan/hyper-layout">@hyper-layout</a>
      ·
      <a href="https://www.github.com/heyallan/hyper-grid">@hyper-grid</a>
      ·
      <a href="https://www.github.com/heyallan/hyper-properties">@hyper-properties</a>
    </nav>
  <center>
</footer>
