<nav>
  <a href="./">Home</a>
  ·
  <a href="./typography.html">Typography</a>
  ·
  <a href="./media.html">Media</a>
  ·
  <a href="./forms.html">Forms</a>
  ·
  <a href="{{ package.repo.url }}">Repository</a>
</nav>
