<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.min.js"></script>
<script type="text/javascript">
  anchors.options = { placement:'left', icon: '#', visible:'always' };
  anchors.add('h1[id],h2[id],h3[id]');
</script>
<style>.anchorjs-link:hover{border:0;text-decoration:none;}</style>
