<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ package.name }} - {{ package.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ package.keyword }}.min.css"/>
    <link rel="stylesheet" href="layout.min.css"/>
    <link rel="stylesheet" href="properties.min.css"/>
    <link rel="stylesheet" href="grid.min.css"/>
  </head>
  <body class="">

    {% include "header.njk" %}

    {% block content %}
      {# content will be injected here #}
    {% endblock %}

    {% include "footer.njk" %}

    {% include "scripts.njk" %}

  </body>
</html>
