.btn,
input[type=button],
input[type=reset],
input[type=submit],
button {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);

  border-radius: var(--button-border-rarius);
  border-width:  var(--button-border-width);
  border-style:  solid;
  border-color:  var(--button-border-color);
  background-color: var(--button-bg-color);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);

  color: #fff;
  font-size:   var(--button-font-size);
  line-height: var(--button-line-height);
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);

  cursor: pointer;

  &:hover:not([disabled]),
  &:focus:not([disabled]),
  &:active:not([disabled]) {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  }
  &[disabled] {
    color: #fff;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

a.btn:hover {
  text-decoration: none;
}
