// all code
code,
kbd,
samp,
pre, {
  font-family: @font-family-mono-space;
}

// inline
code,
kbd,
samp {
  color: @color-secondary;
  font-size: 95%;;
}

// blocks
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  overflow-x: scroll;
  tab-size: 2;

  font-size: 1rem;
  text-align: left;
  color: @color-paragraph;

  border-radius: @radius-default;
  background-color: @color-gray-light;
  code {
    padding: 0;
    color: inherit;
    font-size: inherit;
    background-color: transparent;
  }
}
