fieldset {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: fade(@border-color, 20%);
  border-radius: @radius-default;
}

label {
  display: inline-block;
  padding-top: @button-padding-y - 1px;
  padding-bottom: @button-padding-y - 1px;
  &:hover {
    cursor: pointer;
  }
}

// boxed inputs
input[type="date"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="file"],
select,
select[multiple],
textarea {
  padding: 0.5rem 1rem;
  min-height: @button-computed-height;
  border-width: 1px;
  border-style: solid;
  border-color: fade(@border-color, 20%);
  border-radius: @radius-default;
  background-clip: padding-box;
  outline: none;
  font-size: 1rem;
  &:focus {
    border-color: fade(@border-color, 40%);
  }
}

// special controls
select:not([multiple]),
input[type="color"] {
  height: 2.2rem;
}
input[type="range"] {
  margin: 0;
  height: 2rem;
}
input[type="file"]:hover {
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: none;
}
textarea {
  padding: 1rem;
  height: auto;
  vertical-align: top;
  font-family: inherit; // remove monospace font in Firefox
}

// form layout
// ---------------
// small screens -> full width blocks
fieldset {
  // flexbox container
  > p {
    // label
    > label:first-child {
      display: block;
    }
    // fields
    > input:not([type="submit"]):not([type="button"]):not([type="reset"]),
    > select,
    > textarea {
      display: block;
      width: 100%;
    }
    // help text
    > label + input:not([type="submit"]):not([type="button"]):not([type="reset"]) + label,
    > label + select + label,
    > label + textarea + label {
      display: block;
    }
  }
}

// medium screens and up -> inline justified
@media (min-width: @breakpoint-sm) {
  fieldset {
    > p {
      // clearfix
      &:after, &:after {
        content: "";
        display: table;
        clear: both;
      }
      // label
      > label:first-child {
        float: left;
        width: 30%;
      }
      // fields
      > input:not([type="submit"]):not([type="button"]):not([type="reset"]):nth-child(2),
      > select:nth-child(2),
      > textarea:nth-child(2) {
        float: left;
        width: 70%;
      }
      // help text
      > label + input:not([type="submit"]):not([type="button"]):not([type="reset"]) + label,
      > label + select + label,
      > label + textarea + label {
        float: none;
        display: block;
        clear: both;
        &:before {
          position: relative;
          display: inline-block;
          content: "";
          width: 30%;
        }
      }
    }
  }
} // end of media query
