html {
  font-size:   var(--font-size-default);
  font-family: var(--font-family-sans-serif);
  color:       var(--color-text-default);
  line-height: var(--line-height-default);
  font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: var(--line-height-heading);
  font-family: var(--font-family-heading);
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}

p>b:only-child {
  font-weight: 400;
  font-size: var(--font-size-lead);
  line-height: var(--line-height-heading);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

blockquote {
  margin: 0 0 1rem 0;
  padding: 0.5rem 1.5rem;
  border-left: var(--border-width-default) solid var(--blockquote-border-color);
  color: var(--color-text-muted);
  font-size: 1.1em;
  p:last-child {
    margin-bottom: 0;
  }
  cite {
    color: var(--color-primary);
  }
}

small {
  font-size: 85%;
}

address {
  font-style: normal;
  margin-bottom: 1rem;
}

cite,
var,
dfn,
i {
  font-family: var(--font-family-serif);
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: help;
}

sub,
sup {
  // prevent `sub` and `sup` from affecting the line height
  font-size: 75%;
  line-height: 0;
}

ins,
del,
mark {
  padding: var(--inline-text-padding);
  border-radius: var(--border-radius-default);
}
ins {
  color: var(--color-green);
  background-color: var(--color-green-light);
}
del {
  color: var(--color-red);
  background-color: var(--color-red-light);
}
mark {
  background-color: var(--color-yellow);
}

hr {
  margin-top: 0;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid var(--color-gray);
}
