button,
.button,
[type=button],
[type=reset],
[type=submit] {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: var(--button-border-rarius);

  /* border is used mostly to match form fields */
  border: var(--button-border-width) solid var(--button-border-color);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: var(--button-line-height);
  white-space: nowrap;

  cursor: pointer;
}

:is(button, .button, [type=button], [type=reset], [type=submit]):hover,
:is(button, .button, [type=button], [type=reset], [type=submit]):focus {
  background-image: linear-gradient(to bottom, hsl(0deg 1% 100% / 8%), hsl(0deg 1% 100% / 8%));
  text-decoration: underline;
}

/* outline */
:is(button, .button, [type=button], [type=reset], [type=submit]):focus,
:is(button, .button, [type=button], [type=reset], [type=submit]):active {
  outline-offset: 0;
  outline: 2px solid var(--color-primary);
}

/* form fields, and buttons */
:disabled {
  cursor: not-allowed !important;
  text-decoration: none !important;
  opacity: 0.6 !important;
}
