button,
.button,
[type=button],
[type=reset],
[type=submit] {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);

  border-radius: var(--button-border-rarius);
  border-width:  var(--button-border-width);
  border-style:  solid;
  border-color:  var(--button-border-color);
  background-color: var(--button-bg-color);

  color: var(--button-text-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: var(--button-line-height);
  white-space: nowrap;

  cursor: pointer;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
[type=button]:hover,
[type=button]:focus,
[type=reset]:hover,
[type=reset]:focus,
[type=submit]:hover,
[type=submit]:focus {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}

/* form fields, and buttons */
:disabled,
button:disabled,
.button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: not-allowed !important;
  text-decoration: none !important;
  opacity: 0.6 !important;
}
