/* all */
pre,
code,
kbd,
samp {
  font-family: var(--font-family-mono);
  background-color: var(--code-background-color);
}

/* inline */
code,
kbd,
samp {
  padding: var(--inline-text-padding);
  border-radius: var(--border-radius-default);
}

/* blocks */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  overflow: auto;
  tab-size: 2;
  border-radius: var(--border-radius-default);
}

pre code {
  padding: 0;
  font-size: inherit;
  background-color: transparent;
}
