fieldset {
  margin: 0 0 1rem 0;
  padding: 1em;
  border-style:  solid;
  border-width:  var(--input-border-width);
  border-color:  var(--border-color-default);
  border-radius: var(--border-radius-default);
}

label {
  display: inline-block;
  padding-top:    calc(var(--button-padding-y) - 1px);
  padding-bottom: calc(var(--button-padding-y) - 1px);
}

label:hover {
  cursor: pointer;
}

/* boxed inputs */
[type="date"],
[type="time"],
[type="week"],
[type="month"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"],
[type="file"],
select,
select[multiple],
textarea {
  padding: var(--button-padding-y) var(--button-padding-x);
  border-style: solid;
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  background-clip: padding-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: var(--input-line-height);
  background: var(--input-background-color);
}

[type="date"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[type="month"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="url"]:focus,
[type="file"]:focus,
select:focus,
select[multiple]:focus,
textarea:focus {
  outline: none;
  border-color: var(--input-active-color);
}

/* special controls */
[type="search"] {
  -webkit-appearance: textfield;
}
select:not([multiple]) {
  height: 2.2rem;
}
[type="range"] {
  margin: 0;
  height: 2rem;
}
[type="file"] {
  display: block;
  width: 100%;
}
[type="file"]:hover {
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
  height: auto;
  overflow: auto;
  resize: vertical;
  margin-bottom: 1rem;
  padding: var(--button-padding-y) var(--button-padding-x);
}
