img,
picture,
canvas,
svg,
progress,
meter {
  display: inline-block;
  vertical-align: middle;
}

audio, video {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

video {
  height: auto;
}

img,
picture,
canvas {
  height: auto;
  max-width: 100%;
}

iframe,
object,
embed {
  max-width: 100%;
  margin-bottom: 1rem;
  border: 0;
}

figure {
  margin: 0 0 1rem 0;
}

figcaption {
  color: var(--color-muted);
  font-size: 0.85em;
  margin-top: 0.5rem;
}
