*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
}

main,
section,
article,
aside,
footer,
header,
nav,
figure,
figcaption {
  display: block;
}

nav {
  margin-bottom: 1rem;
}

time {
  display: inline-block;
}
