table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
}
table caption {
  padding: 0.5rem 1rem;
  text-align: left;
}
thead {
  border-bottom: var(--border-width-default) solid var(--thead-border-color);
}
tfoot {
  border-top: var(--border-width-default) solid var(--color-gray);
}
th,
td {
  padding: 0.5rem 1rem;
  text-align: left;
  border: 1px solid var(--color-gray);
}
