table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0.9em;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
}

thead {
  border-bottom: var(--border-width-default) solid var(--border-color-default);
}

th, tfoot td {
  font-weight: 600;
}

th, td {
  border: 1px solid var(--border-color-default);
}

/* alignment */
th, table caption {
  text-align: unset;
}

/* padding */
th, td, table caption {
  padding: .4em .8em;
}

caption {
  color: var(--color-muted);
}
