html {
  font-size:   var(--font-size-default);
  font-family: var(--font-family-body, var(--font-family-default)), var(--font-family-default);
  color:       var(--color-default);
  line-height: var(--line-height-default);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  line-height: var(--line-height-heading);
  font-family: var(--font-family-heading, var(--font-family-body, var(--font-family-default))), var(--font-family-body, var(--font-family-default)), var(--font-family-default);
}

/* default sizes */
h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h6 { font-size: var(--font-size-h6); }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--link-color);
  display: inline-block;
}
a:not(:hover):not(:focus) {
  text-decoration: none;
}

blockquote {
  margin: 0 0 1rem 0;
  padding: 0.5rem 1.5rem;
  border-left: var(--border-width-default) solid var(--blockquote-border-color);
}

blockquote p:last-child {
  margin-bottom: 0;
}

small {
  font-size: 85%;
}

address {
  font-style: normal;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: help;
}

sub,
sup {
  /* prevent `sub` and `sup` from affecting the line height */
  font-size: 75%;
  line-height: 0;
}

mark {
  padding: var(--inline-text-padding);
  border-radius: var(--border-radius-default);
  background-color: var(--color-yellow);
}

hr {
  margin-top: 0;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid var(--border-color-default);
}
